<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-4 d-flex justify-content-between">
                    <div class="col-lg-4">
                      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalRegistrar" data-whatever="@mdo">
                        <i class="fa fa-plus-square"></i> Registrar</button>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <select class="form-control custom-select" (change)="mostrarOrganoTipo($event)">
                          <option value="1" selected>Habilitados</option>
                          <option value="0">Deshabilitados</option>
                        </select>
                      </div>
                    </div>
                  </div>
    
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Id</th>
                        <th scope="col" class="text-center">Nombre</th>
                        <th scope="col" class="text-center">Apellido</th>
                        <th scope="col" class="text-center">Usuario</th>
                        <th scope="col" class="text-center">Contraseña</th>
                        <th scope="col" class="text-center">Perfil</th>
                        <th scope="col" class="text-center">Estado</th>
                        <th class="text-center">Editar</th>
                        <th class="text-center">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let organo of listOrgano! | paginate:{itemsPerPage: 12, currentPage: p}">
                        <td class="text-center">{{organo.id}}</td>
                        <td class="text-center">{{organo.nombre}}</td>
                        <td class="text-center">{{organo.Sede.nombre}}</td>
                        <td *ngIf="organo.estado===1" class="text-center">Activo</td>
                        <td *ngIf="organo.estado===0" class="text-center">Inactivo</td>
                        <td class="text-center">
                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modificarRegistro" data-whatever="@mdo" (click)="obtenerOrganoId(organo.id)">
                              <i class="fa fa-pencil"></i>
                            </button>
                        </td>
                        <td *ngIf="organo.estado===0" class="text-center">
                            <button type="button" class="btn btn-danger" (click)="eliminarUsuario(organo.id, 1)">
                              <i class="fa fa-lock-open"></i>
                            </button>
                        </td>
                        <td *ngIf="organo.estado===1" class="text-center">
                            <button type="button" class="btn btn-danger" (click)="eliminarUsuario(organo.id, 0)">
                              <i class="fa fa-lock"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
